<p>Con una arena de <%= @field.get_rows() %> filas y <%= @field.get_columns() %> columnas,</p>
<% cont = 0 %>
<% while cont < @instructions.size %>
 <p>el vehiculo <%= cont+1%> 
 Termino en las coordenadas [ <%= @instructions[cont].get_position_of_vehicle_in_X%> , <%= @instructions[cont].get_position_of_vehicle_in_Y%> ] ,
 apuntando hacia el <%= @instructions[cont].get_vehicle_orientation%>
 </p>
<%cont += 1%>
<%end%>